.header {
  position: fixed;
  top: 0;
  left: 50%;
  max-width: $maxWidth;
  min-width: $minWidth;
  z-index: 100;
  padding: 20px;
  font-size: 0;
  text-align: center;
  transform: translate(-50%, 0);
}

.logo {
  display: inline-block;
  height: auto;

  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.month {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-left: 6px;
  padding: 5px 0;
  background: $point;
  border-radius: 50%;
  @include fontCss($white, 16px, 16px, 800);
  letter-spacing: -1px;
  text-align: center;
  vertical-align: middle;
}