@import 'react-calendar/dist/Calendar.css';

.main {
  margin: 0 auto;
  height: 100vh;
  padding: 60px 20px 0;
  background: $white;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  width: $maxWidth;
  padding: 20px;
  font-size: 0;
  text-align: center;
  transform: translate(-50%, 0);
}

.logo {
  display: inline-block;
  width: 50px;
  height: auto;
}

.board {
  display: inline-block;
  border-radius: 15px;
  background: $white;
  width: 100%;
  height: 200px;
}

.calendar {
  .react-calendar {
    border:  1px solid red;
  }

  .react-calendar__navigation {
    width: inherit;
    height: 3.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 5.5rem;
  
    .react-calendar__navigation__label {
      width: 5.5rem;
      height: 1.375rem;
      font-size: 16px;
      border: none;
      font-weight: 700;
      background-color: #fff;
    }
  
    .react-calendar__navigation__prev-button {
      border: none;
      background-color: #fff;
      cursor: pointer;
      opacity: 0;
    }
  }
}