.board {
  display: inline-block;
  border-radius: 15px;
  background: $white;
  width: 100%;
  padding: 16px 12px;

  &.board {
    width: calc(50% - 6px);
  }
}

.link {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
  }
}

.userInfo {
  margin-left: 12px;
  font-size: 0;

  strong {
    display: block;
    @include fontCss($black, 16px, 16px, 600);
  }

  span {
    display: inline-block;
    margin-top: 8px;
    @include fontCss($black, 12px, 12px, 400);
  }
}

.grassInfo {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 15px;

  span {
    display: inline-block;
    margin-right: 10px;
    @include fontCss($gray, 15px, 20px);
  }

  strong {
    position: relative;
    padding-left: 8px;
    @include fontCss($gray, 14px, 20px, 800);

    &:before {
      content: "x";
      position: absolute;
      top: 50%;
      left: 0;
      @include fontCss($gray, 12px, 20px, 800);
      transform: translate(0, -50%);
    }
  }
}

.duoInfo {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;

  span {
    display: inline-block;
    margin-right: 10px;
    @include fontCss($gray, 15px, 20px);
  }

  i {
    padding: 0 5px;
    display: inline-block;
    @include fontCss($gray, 26px, 26px, 900);
  }
}