
/* 
  [Global Custom]

  React-Calendar 의 내부 클래스는 전역적으로 정의된 CSS 클래스이기 때문에,
  CSS 모듈 방식으로는 해당 클래스를 직접적으로 참조할 수 없어 글로벌 파일로 생성
 */
.react-calendar {
  width: 100%;
  padding: 20px 10px 10px;
  background: white;
  border-radius: 14px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  /* Props Class */
  &.disable {
    &-prev {
      .react-calendar__navigation__prev-button {
        /* 비노출 처리 (display: none은 정렬 틀어져서 X) */
        opacity: 0;
        /* 클릭 이벤트를 막음 */
        pointer-events: none; 
        cursor: default; 
      }
    }

    &-next {
      .react-calendar__navigation__next-button {
        /* 비노출 처리 (display: none은 정렬 틀어져서 X) */
        opacity: 0;
        /* 클릭 이벤트를 막음 */
        pointer-events: none; 
        cursor: default; 
      }
    }
  }

  /* 공통 */
  button {
    &:enabled {
      &:hover {
        cursor: pointer;
      }
    }
  }

  /* 네비게이션 */
  &__navigation {
    display: flex;
    justify-content: center;
    height: 24px;
    margin-bottom: 10px;
  
    &__label {
      /* 클릭 이벤트를 막음 */
      pointer-events: none; 
      cursor: default; 
      flex-grow: 0 !important;
      @include fontCss($black, 16px, 16px, 600);
    }

    &__arrow {
      width: 24px;
      height: 24px;
      margin: 0 20px;
      font-size: 0;
      background: url('/images/arrow.svg') no-repeat center/ 20px auto;
      border-radius: 50%;
      transform: rotate(0);

      &.react-calendar__navigation__prev-button {
        transform: rotate(180deg);
      }
    }
  }

  /* 달력 */
  &__month-view {
    /* 요일 */
    &__weekdays {
      text-align: center;
      text-transform: uppercase;

      abbr {
        text-decoration: none;
        @include fontCss($black, 14px, 18px);
      }
      
      &__weekday {
        padding: 10px;

        /* 주말 */
        &--weekend {
          abbr {
            color: $disabled;
          }
        }
      }
    }

    /* 날짜 */
    &__days {
      &__day {
        max-width: 100%;
        padding: 10px;
        text-align: center;
        border-radius: 10px;

        &:enabled {
          &:hover {
            background-color: $base;
          }
          &:focus {
            background-color: $base;
          }
        }

        /* 주말 */
        &--weekend {
          color: #ccc !important;
        }
      }
    }
  }

  /* 날짜 타일 */
  &__tile {
    /* 오늘 */
    &--now {
      position: relative;

      &.react-calendar__tile--active {
        abbr {
          color: $white !important;
        }
      } 
    
      abbr {
        color: $point !important;
        font-weight: 800 !important;
      }
    }

    /* active 날짜 */
    &--active {
      background: $point;
      color: $white;

      &:enabled {
        &:hover {
          background: $point;
        }
        &:focus {
          background: $point;
        }
      }
    }
  }
}