/*
  Next.js 에서 CSS 모듈을 사용하게 되면, CSS 모듈의 특성상 모든 스타일은 로컬로 한정되어야 하기에 에러 발생
  :root와 같이 전역 선택자를 사용하는 파일은 전역 스타일로 분리
*/
:root {
  // Set
  --max-width: 768px;
  --min-width: 375px;

  // Fonts
  --font-roboto: "Roboto Mono"

  // Basic
  --black: #000114;
  --gray: #485569;
  --white: #fff;
  --base: #F6F6FB;
  --point: #7265E3;
}

.root-layout {
  max-width: $maxWidth;
  min-width: $minWidth;
  margin: 0 auto;
}
